{% extends "base.html" %}

{% block title %}404 Page Not Found{% endblock %}

{% block page_source %}
    <div id="main">
        <div class="inner">
            <!-- Text -->
            <section>
                <h2>404 Page Not Found</h2>
                <p>Oh no! The page you were looking for could not be found. Please click the link below to be redirected to the homepage, or navigate to a page using the menu on the right.</p>
                <hr />
                <a href="/index" class="button special fit">Home</a>
            </section>
        </div>
    </div>
{% endblock %}