{% extends "base.html" %}

{% block title %}Odd Jobs{% endblock %}

{% block page_source %}
<div id="main">
    <div class="inner">
        <!-- Text -->
        <section>
            <h2>What is this for?</h2>
            <p>Odd Jobs are simple jobs that can be slightly annoying to do, and often people are willing to pay to get other people to do them. This website opens up a market place to create and accept odd jobs in a simple and easy manner.</p>
            <hr />
            <h2>How does it work?</h2>
            <h3>Employers</h3>
            <p>You just have to open the website, complete a simple form, and wait for someone to accept your job. What are you waiting for? Open the menu on the right side of the screen and select "Submit a Job"</p>
            <h3>Job Seekers</h3>
            <p>When a potential employer posts an odd job they would like done, you will instantly receive a message in GroupMe. From there, you can simply tap on a link to accept the job. Make sure to pay close attention though, if someone else accepts the job before you, it's theirs! So what are you waiting for? Open the menu on the right side of the screen and select "Request to be added"</p>
        </section>
    </div>
</div>
{% endblock %}