{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block page_source %}
<div id="main">
    <div class="inner">
        <!-- Text -->
        <section>
            <h2>Please enter your username and password to login</h2>
            <hr />
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method="post" action="#" name="login">
                {{ form.hidden_tag() }}
                <div class="row uniform">
                    <div class="12u$">
                        {{ form.username(placeholder="Username") }}
                    </div>
                    <div class="12u$">
                        {{ form.password(placeholder="Password") }}
                    </div>
                    <div class="12u$">
                        <input type="submit" class="button" value="Login" />
                    </div>
                </div>
            </form>
            <hr />
        </section>
    </div>
</div>
{% endblock %}