{% extends "base.html" %}

{% block title %}Sweet Success!{% endblock %}

{% block page_source %}
<div id="main">
    <div class="inner">
        <!-- Text -->
        <section>
            <h2>You successfully submitted a request!</h2>
            <hr />
            <p>Below is a summary of the job you just submitted</p>
            <ul>
                <li>Employer: {{ job.employer_name }}</li>
                <li>Email: {{ job.employer_email }}</li>
                <li>Location: {{ job.location }}</li>
                <li>Description: {{ job.description }}</li>
                <li>Compensation: {{ job.compensation }}</li>
                <li>Category: {{ categories[job.category_id] }}</li>
            </ul>
            <hr />
        </section>
    </div>
</div>
{% endblock %}